html {
    font-family: 'Rock Salt', cursive;
    background-color: #000;
    color:#E73800;
}
h1 {
    text-shadow: 4px 4px 4px #666;
    margin-left: 35px;
}
hr {
    background-color: #666;
    height: 10px;
    width: 30%;
    margin-left: inherit;
}
a {
    text-decoration: none;
    color: #666;
    font-size: 35px;
    text-shadow: 4px 4px 4px  #E73800
}